.circle-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #2589af;


  &:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #397391;
  }
}
