body {
  background: #f3f3f3;
}

.component {
  $self: &;
  display: block;
  max-width: 30rem;
  min-height: 30rem;
  margin: 5rem auto;
  background: rebeccapurple;
  position: relative;
  border: 1px dashed rebeccapurple;

  &--reversed {
    background: white;
    border-color: lightgray;

    #{ $self }__child-element {
      background-color: rebeccapurple;
    }
  }

  &__child-element {
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: white;

    &--yellow {
      background-color: yellow;
    }
  }
}


